# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wil\Documents\workspace-spring-tool-suite-4-4.9.0.RELEASE\projetos DIO\Java-CQRS quarkus-Kafka-eks-dio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
